:root {
  --PastColor: #2a6f97;
  --CurrentColor: #468faf;
  --FutureColor: #89c2d9;
  --AccentColor: #01497c;
}


body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.color-code {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
  font-weight:bold
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  
}

.past {
  background-color: var(--PastColor);
  color: white;
}

#PastColor {
  background-color: var(--PastColor);
  color: white;
  width: 200px;
}

.present {
  background-color: var(--CurrentColor);
  color: white;
}

#PresentColor {
  background-color: var(--CurrentColor);
  color: white;
  width: 200px;
}

.future {
  background-color: var(--FutureColor);
  color: white;
}

#FutureColor {
  background-color: var(--FutureColor);
  color: white;
  width: 200px;
}
.saveBtn {
  border-left: 4px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--AccentColor);
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* Used to show/hide the "Appointment Added" alert */
.notification {
  display: none;
  padding-bottom: 10px;
  color: black;
}

.show {
  display: block;
}

